    .main-page {
        background-color: white;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        font-family: 'Kanit', sans-serif;
        padding: 20px;
        overflow-y: auto;
    }
    
    .user-info {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .cards-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .card-row {
        display: flex;
        gap: 20px;
    }
    
    .card {
        flex: 1;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .card-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .card h3 {
        font-size: 1.25rem;
        color: #2563eb;
    }
    
    .card p {
        font-size: 1rem;
        color: #555;
        margin: 10px 0;
    }
    
    .card button {
        background-color: #2563eb;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        align-self: center;
    }
    
    .card button:hover {
        background-color: #1e4bb8;
    }
    
    .card-icon {
        width: 24px;
        height: 24px;
    }
    
    .additional-buttons {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    
    .additional-buttons button {
        background-color: #2563eb;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .additional-buttons button:hover {
        background-color: #1e4bb8;
    }
    